%h3 Reading the Graph
%hr
%h4 Nodes
%p The pale nodes are the searched ingredients. The darker nodes are those associated ingredients found in different recipes.
%p Click and drag any node to reposition it. The highlighted edge shows that the node is pinned in place. Double click to allow the node to move freely again.
%h4 Edges
%p Solid lines are the association between a searched ingredient and another ingredient. Dotted lines show the association between two unsearched ingredients.
%p Thicker lines indicate a stronger connection between two ingredients.
%h3 Tweaking the graph
%hr
%p Too many lines? Increase the minimum occurrences threshold and resubmit your search. Fewer connections will be shown.
%p Too many nodes? One node having too many associations? Add it to the list of hidden ingredients. Many ingredients like salt, butter, and eggs are too common to be shown on the graph.
%p Still hard to read? Click and drag some of the nodes so links can be seen better.
