%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to 'Shokugeki', '#', class: "navbar-brand"

    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li{class: controller.controller_name == 'recipes' ? 'active' : ''}
          = link_to 'Recipes', '#'
        %li{class: controller.controller_name == 'ingredients' ? 'active' : ''}
          = link_to 'Ingredients', ingredients_path
      %form.navbar-form.navbar-left{role: "search"}
        .form-group
          %input.form-control{ type: "text", placeholder: "bacon,bourbon,etc" }
        %button.btn.btn-default{type: "submit"} Submit