%h1 Ingredients Graph
- missing_ingredients = @search.missing_ingredients
- if missing_ingredients.any?
  %p
    Missing
    = missing_ingredients.join(',')

= render partial: 'shared/food_graph', locals: { search: @search }