%h1 Ingredients Graph
- missing_ingredients = @search.missing_ingredients
- if missing_ingredients.any?
  %p
    Missing
    = missing_ingredients.join(',')
#ingredients-graph

%hr

.row
  .col-md-8
    = render partial: 'form', locals: { title: 'Refine Search' }
  .col-md-4
    = render 'how_to_read_graph'