// Place all the styles related to the SearchIngredient controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.link line {
  stroke: #000;
}

.link.auxiliary {
  stroke-dasharray: 5,5;
}

.node {
  cursor: move;
  stroke: #000;
  stroke-width: 2px;
}

.node > text {
  stroke: none;
  font-weight: bold;
}

.node.fixed {
  stroke: #0f0;
  stroke-width: 1px;
}